<div style="text-align:center; font-size:70px;" class="mt-4 mb-4">
  <h1>About</h1>
</div>

<div style="text-align:center; font-size:20px;" class="mb-3">
  『我が家のわんこメシ』は、愛犬のための食事レシピ共有サイトです。<br>
  市販のドックフードなどではなく、完全手作り食を作ろうと思った時、<br>
  <br>
  <strong>・この食材を与えても良いのだろうか</strong><br>
  <strong>・どのくらい与えても良いのだろうか</strong><br>
  <strong>・調理法はどうしたら良いのだろうか</strong><br>
  <br>
  そんな悩みを抱えたことはありませんか？<br>
  このサイトは、そんな悩みを抱えた飼い主さんの手助けとなるはずです！<br>
  【家族】である愛犬のために、美味しい手作り食ライフを始めましょう！！<br>
</div>