<div style="text-align:center; font-size:70px;" class="mt-4 mb-4">
  <h1>『我が家のわんこメシ』</h1>
</div>

<div style="text-align:center; font-size:20px;" class="mb-3">
  ↓↓↓レシピを閲覧するには、下のどれかを選んで進んでね↓↓↓
</div>

<div class="text-center mb-3">
  <%= link_to "新規会員登録", new_member_registration_path, class: "btn btn-success" %>
</div>

<div class="text-center mb-3">
  <%= link_to "ログイン", new_member_session_path, class: "btn btn-primary" %>
</div>

<div class="text-center">
  <%= link_to "ゲストログイン", class: "btn btn-danger" %>
</div>