<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div style="text-align:center; font-size:70px;" class="mt-3 mb-5">
        <h1 class="bg-danger">退会確認</h1>
      </div>
      <div style="text-align:center; font-size:20px;" class="mt-5 mb-5">
        退会手続きをされますと、全てのサービスがご利用いただけなくなります。<br>
        再度ご利用いただく場合には、新規会員登録のお手続きが必要となります。<br>
        <br>
        <strong>会員をやめてよろしいですか？</strong>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <table align="center">
        <tr height="100">
          <th><%= link_to "会員をやめない", my_page_members_path, class: "btn btn-primary" %></th>
          <th width="100"></th>
          <th><%= link_to "会員をやめる", out_members_path, method: :patch, class: "btn btn-danger", "data-confirm" => "本当に会員をやめますか？" %></th>
        </tr>
      </table>
    </div>
  </div>
</div>